#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 1080px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Charts {
  width: 400px;
}

.Charts > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.gamelist {
  width: 900px;
  height: 1080px;
}

.gamelistTop{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px 0px 10px 0px;
}

.gamelistTop > input{
  margin: 10px 10px 0px 0px;
  height: 30px;
}

.gamelistGames {
  background-color:#414141;
}

.gamelistSingleGameTitle {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  background-color:#414141;
}

.gamelistSingleGameTitle > p {
  margin: 0%;
  padding: 10px;
  background-color: #474747; /* This is the color of the grid items */
  border: 1px solid #888; /* This adds a border around each grid item */
}

.gamelistSingleGame {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  justify-content: space-between;
  background-color:#414141;
}

.gamelistSingleGame > p {
  margin: 0%;
  padding: 0%;
  background-color: #000000; /* This is the color of the grid items */
  border: 1px solid #888; /* This adds a border around each grid item */
}

.gamelistBottomNavigation > button{
  margin: 10px 15px 25px 15px;
}

.gametitle {
  flex-basis: 200px;
}

.gamepage{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 0fr 1fr;
  
  width: 900px;
  height: 850;
}

.gamepage > button{
  margin: 25px;
  width: 150px;
  height: 50px;
}

.gamedetailsTopNavigation{
  display: flex;
  justify-content: space-between;
}

.gamepage > h1{
  text-align: left;
  padding: 0px 0px 0px 50px;
}

.gamedetails {
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 600px;
  text-align: left;
  padding: 0px 50px 0px 50px;
  
}

.gamedetails > div{
  padding: 0px 0px 0px 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}

.gamedetails > div > p{
  margin: 0px;
  border: 1px solid #575757;
  overflow: auto;
  background-color: #000000;
}

.gamedetails > div > p > p{
  margin: 0px;
}

.gamedetails > img{
  max-width: 200px;
}

textarea {
  resize: none;
}

.imageDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 25px 50px 0px 50px;
}

.imageDisplay > img{
  max-width: 200px;
}

.addgameForm > form{
  width: 600px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr;
  text-align: justify;
}

.addgameForm > form > input{
  height: 50px;
  margin: 
  10px;
}

.addgameForm > form > label{
  margin: 20px 0px 0px 0px;
}

#addgamesubmit {
  margin: 25px;
  width: 150px;
  height: 50px;
}

#modal {
  color: #000000;
  text-align: center;
}